.vanilla-js-chat {
  &__message {
    background: white;
    margin-bottom: 15px;
    border-radius: 4px;

    &.right {
      text-align: right;
      margin-left: 25px;
    }

    &.left {
      margin-right: 25px;
    }

    &.blue {
      background: $blue-color;
      box-shadow: 0 1px 6px 0 $blue-color;
    }

    &.green {
      background: $green-color;
      box-shadow: 0 1px 6px 0 $green-color;
    }

    &.red {
      background: $red-color;
      box-shadow: 0 1px 6px 0 $red-color;
    }

    &.yellow   {
      background: $yellow-color;
      box-shadow: 0 1px 6px 0 $yellow-color;
    }

    &__name {
      font-size: $font-size-sm;
      font-weight: 14px;
      font-weight: bold;
      margin-bottom: 5px;
      color: $primary-color;
    }

    &__text {
      font-size: $font-size-md;
    }

    &__body {
      padding: 10px;
      position: relative;
    }
  }
}