$primary-color: #555454;
$secondary-color: #2021;
$third-color: #fff;

$red-color: #fdc4c4;
$blue-color: #c4d8fd;
$yellow-color: #ecfdc4;
$green-color: #c4fdd2;

$font-size-sm: 12px;
$font-size-md: 16px;
$font-size-gl: 18px;
