@import 'vars';

.vanilla-js-chat {
  width: 100%;
  padding: 20px;
  border: 1px solid $primary-color;
  border-radius: 4px;

  &__title {
    font-size: 16px;
  }

  &__header {
    width: 100%;
    margin-bottom: 5px;
  }

  &__body {
    padding: 5px;
    border: 1px solid $primary-color;
    margin-bottom: 5px;
    min-height: 80px;
  }

  &__controller {
    display: flex;
  }

  &__btn {
    padding: 10px;
    border: 1px solid $primary-color;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;

    &:hover {
      background: rgb(216, 213, 213);
    }
  }

  &__input {
    flex: 1;
    padding: 10px;
    border: 1px solid $primary-color;
    margin-right: 10px;
    letter-spacing: 1px;
    outline: none;
  }
}
