@import 'vars';
@import './modules/form';
@import './modules/message';

.vanilla-js-chat {
  width: 100%;
  border: 1px solid $secondary-color;
  border-radius: 4px;

  &__title {
    text-align: center;
    letter-spacing: 1px;
    font-size: 16px;
    color: $primary-color;
  }

  &__header {
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
    box-shadow: 0px 2px 3px -1px $secondary-color;
  }

  &__body {
    max-height: 300px;
    min-height: 10px;
    overflow-y: scroll;
    padding: 5px;
    margin-bottom: 5px;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__controller {
    display: flex;
    padding: 10px;
  }
}
